main > .container {
  padding: 60px 15px 0;
}
.table-wrap{
  width: 80%;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
table {
  text-align: center;
  margin-bottom: 0!important;
}
tr {
  border-width: 0 0 1px!important;
}
.process-table tbody td {
  transition: all  0.5s ease;
}
.process-table tbody td:hover {
  background-color: #c9ffe6;
}
.process-table tbody td.base {
  background-color: yellow;
}
.process-table tbody tr:first-child td:first-of-type {
  background-color: rgb(132, 214, 155);
}
.process-table .row {
  flex-wrap: nowrap;
}
.process-table .col {
  min-width: 250px;
  flex: 1 0 250px!important;
}
._sticky {
  position: sticky;
  top: 55px;
}
._sticky:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
table a {
  text-decoration: none;
  color: #198754;
}
table a:hover {
  color: tomato;
}
table span .title{
  color: blue;
}
.rotate {
  transform:rotate(90deg);
}
.wellcome {
  animation: f-color 10s infinite;
}
@keyframes f-color {
  0% { color: #e74c3c; }
  20% { color: #f1c40f; }
  40% { color: #1abc9c; }
  60% { color: #3498db; }
  80% { color: #9b59b6; }
  100% { color: #e74c3c; }
}
